<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="text-align-centered">
          <p><a class="btn btn-default btn-custom" href="#home" data-hook="scrollTo">Back to top <i class="glyphicon glyphicon-arrow-up"></i></a></p>
          <br>
        </div>

        <div class="text-align-centered">
          <%= partial "partials/social-btns" %>
          <br><br>
        </div>

        <div class="text-align-centered">
          <p class="text-muted small">Copyright &copy; 2015 - Juxta Productions</p>
        </div>

      </div>
    </div>
  </div>
</footer>
