<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="text-align-centered">
          <p><a class="btn btn-default btn-custom" href="#home" data-hook="scrollTo">Back to top <i class="glyphicon glyphicon-arrow-up"></i></a></p>
          <br>
        </div>

        <div class="text-align-centered">
          <a href="https://twitter.com/Juxta_prod" class="twitter-follow-button" data-show-count="false">Follow @Juxta_prod</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <div class="fb-follow btn-facebook" data-href="https://www.facebook.com/Juxtaproduction" data-height="28" data-layout="button" data-show-faces="false"></div>

          <br><br>
        </div>

        <div class="text-align-centered">
          <p class="text-muted small">Copyright &copy; 2015 - Juxta Productions</p>
        </div>

      </div>
    </div>
  </div>
</footer>
