/// ------------------------------------------------------------------------
// Module: Fonts
// ------------------------------------------------------------------------
//

// Setup
// ------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Module core
// ------------------------------------------------------------------------
.font-open-sans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  &-light     { font-weight: 300; }
  &-normal    { font-weight: 400; }
  &-semi-bold { font-weight: 600; }
  &-bold      { font-weight: 700; }
}

// Module variants
// ------------------------------------------------------------------------

// Module helpers
// ------------------------------------------------------------------------
