---
title: Welcome to Juxta Productions
---

<%= partial "partials/navigation" %>

<section id="home" class="feature">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="element-align-centered">
            <%= image_tag '/images/feature-img.png' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-centered" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="section-header">About Juxta</h2>

        <p>
          Welcome to Juxta Productions, a performing arts company that offers
          holiday workshops to young people. We give them the opportunity to develop their
          skills as talented performers as well as their confidence, creativity
          and interpersonal skills.
        </p>

        <p>
          Juxta Productions enjoy working with young people on both scripted
          and improvised performances and each workshop is tailored to the strengths
          and interests of the group. All week long workshops finish with a
          final showcase in which the young people will perform to an invited audience.
        </p>

        <div>
          <br>
          <%= partial "partials/social-btns" %>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section section-centered" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">

        <h2 class="section-header">Meet the team</h2>

        <p>
          Eve and David have been working together in and out of education for the past
          ten years. With years of experience behind them in both teaching (including
          qualified teacher status) and performing; you will not be disappointed by
          the professional service you will receive.
        </p>

        <p>
          As well as teaching between them Performing Arts, Drama and Dance; both
          have directed and choreographed in productions such as We Will Rock You,
          Grease, Bugsy Malone, Oliver, The 39 Steps and Alice in Wonderland to name a few.
          They have had the privilege of performing over the years in theatre,
          pantomimes and dance shows at prestigious venues across the country.
        </p>

        <p>
          With a passion for Theatre and the Arts, Eve and David know how to interest
          and challenge young people and are excited about being able to offer something
          new and exciting.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="avatars avatars-align-right">
          <div class="avatar avatar-round avatar-list">
            <img src="images/avatar-david.jpg" width="200" height="200" alt="David Routledge">
            <h4>David Routledge</h4>
          </div>

          <div class="avatar avatar-round avatar-list">
            <img src="images/avatar-eve.jpg" width="200" height="200" alt="Eve Santamaria">
            <h4>Eve Santamaria</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-centered" id="workshops">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="section-header">Upcoming workshops</h2>

        <h4>Summer School: On Stage and Screen</h4><br>

        <table class="table table-bordered table-striped">
          <tr>
            <td><strong class="font-open-sans-semi-bold">From:</strong></td>
            <td>Monday 3rd August</td>
          </tr>

          <tr>
            <td><strong class="font-open-sans-semi-bold">To:</strong></td>
            <td>Friday 7th August</td>
          </tr>

          <tr>
            <td><strong class="font-open-sans-semi-bold">Starting at:</strong></td>
            <td>10am</td>
          </tr>

          <tr>
            <td><strong class="font-open-sans-semi-bold">Until:</strong></td>
            <td>4pm</td>
          </tr>

          <tr>
            <td><strong class="font-open-sans-semi-bold">Held at:</strong></td>
            <td>Northampton Academy</td>
          </tr>

          <tr>
            <td><strong class="font-open-sans-semi-bold">Ages:</strong></td>
            <td>10 &dash; 14 year olds</td>
          </tr>
        </table>

        <br>

        <p>
          Time to shine in an amazing week long workshop led by professionals that
          gives you the chance to perform in a final showcase for friends and family.
        </p>

        <p>
          For any workshops a participant attends, please be sure to bring a bottle of water and a packed lunch each day.
          Participants will receive their own Juxta Productions T-Shirt too.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="section section-centered" id="booking">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <h2 class="section-header">Pricing</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-align-centered">1 Participant</h3>
                <h2 class="text-align-centered font-open-sans-bold">&pound;135</h2>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <div class="caption">
                <h3 class="text-align-centered">2 Participants</h3>
                <h2 class="text-align-centered font-open-sans-bold">&pound;240</h2>
              </div>
            </div>
          </div>
        </div>

        <h2 class="section-header">Book your place</h2>

        <form class="form-aligned-left" action="//formspree.io/juxta_productions@hotmail.com" method="post">
          <h5 class="form-header font-open-sans-semi-bold">Participant details:</h5>

          <div class="form-group">
            <label class="sr-only" for="participant-name">Participant name:</label>
            <input type="text" class="form-control" id="participant-name" name="participant-name" placeholder="Participant name">
          </div>

          <div class="form-group">
            <label class="sr-only" for="participant-age">Participant age:</label>
            <input type="text" class="form-control" id="participant-age" name="participant-age" placeholder="Participant age">
          </div>

          <div class="form-group">
            <label class="sr-only" for="tshirtsize">T-shirt size request</label>
            <select class="form-control" name="tshirt-size">
              <option>Select T-shirt size</option>
              <option>12 &ndash; 13</option>
              <option>14 &ndash; 15</option>
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
            </select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="participantnums">Number of participants</label>
            <select class="form-control" name="Number-of-participants">
              <option>Select participant number</option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>

          <div class="form-group">
            <label class="small" for="medical-information">Medical information:</label>
            <textarea class="form-control" rows="3" id="medical-information" name="medical-information"></textarea>
          </div>

          <h5 class="form-header font-open-sans-semi-bold">Parent/Guardian details:</h5>

          <div class="form-group">
            <label class="sr-only" for="guardian-name">Parent/Guardian name:</label>
            <input type="text" class="form-control" id="guardian-name" name="name" placeholder="Guardian name">
          </div>

          <div class="form-group">
            <label class="sr-only" for="guardian-email">Parent/Guardian email address:</label>
            <input type="email" class="form-control" id="guardian-email" name="email" placeholder="Guardian email address">
          </div>

          <h5 class="form-header font-open-sans-semi-bold">Next steps:</h5>

          <p class="small">
            Juxta Productions will be in touch via email to confirm your booking.<br>
            We'll also send through a copy of the Terms &amp; Conditions along with instructions on how to pay.
          </p>

          <br>

          <div class="form-group text-align-centered">
            <button type="submit" class="btn btn-default btn-outline-inverse btn-lg">Submit your details</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<section class="section section-centered section-double" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <h2 class="section-header">Testimonials</h2>

        <div class="carousel owl-carousel" data-hook="carousel">
          <div>
            <blockquote>
              <p>"David and Eve are two of the most talented and lovely people you will ever meet. Kids love them and the shows they produce are absolutely fantastic!"</p>
              <footer>Rachael Farmer</footer>
            </blockquote>
          </div>
        </div>

        <p class="text-align-centered">
          <a class="btn btn-default btn-custom" href="https://www.facebook.com/Juxtaproduction/reviews">Check out all reviews <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></a>
        </p>

      </div>
    </div>
  </div>
</section>

<%= partial "partials/footer" %>
