---
title: Thank you for your payment
---

<%= partial "partials/navigation" %>

<section id="home" class="feature">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="element-align-centered">
            <%= image_tag '/images/feature-img-thanks.png' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-centered">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="text-align-centered">
          <p><a class="btn btn-lg btn-default btn-custom" href="/">Take me home <i class="glyphicon glyphicon-home"></i></a></p>
        </div>

      </div>
    </div>
  </div>
</section>

<%= partial "partials/footer" %>
