/// ------------------------------------------------------------------------
// Module: Buttons
// ------------------------------------------------------------------------
//

// Setup
// ------------------------------------------------------------------------
$btn-color: #B31100;


// Module core
// ------------------------------------------------------------------------


// Module variants
// ------------------------------------------------------------------------
.btn-custom {
  background-color: transparent;
  border-color: $btn-color;
  color: $btn-color;
}

.btn-outline-inverse {
  background-color: transparent;
  border-color: white;
  color: white;

  &:hover,
  &:focus,
  &:active {
    border-color: white;
    color: $color-primary;
  }
}

.btn-facebook {
  margin-left: 7px;
  top: -7px;
}


// Module helpers
// ------------------------------------------------------------------------
