/// ------------------------------------------------------------------------
// Module: Footer
// ------------------------------------------------------------------------
//

// Setup
// ------------------------------------------------------------------------
$footer-padding: 24px;


// Module core
// ------------------------------------------------------------------------
.footer {
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;

  @media (min-width: $screen-sm-min) {
    @extend .section-slim;
  }
}


// Module variants
// ------------------------------------------------------------------------


// Module helpers
// ------------------------------------------------------------------------
